@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    font-weight: 600;
}

.container > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

input{
    width: 500px;
    height: 40px;
    padding: 5px;

}

select{
    height: 30px;
    width: 100px;
}

button{
    height: 40px;
    width: max-content;
    padding: 5px;
}